.experienceContainer
{
    background: linear-gradient(180deg, rgba(118, 148, 159, 0.15) 0%, rgba(241, 218, 191, 0.15) 100%);
    border-radius: 20px;

    position: relative;
    overflow: hidden;
}

.offsetImage
{
    position: absolute;
    transform: translateX(80px) translateY(-80px);
}