.navbarContainer
{
    background-color: rgba(245, 245, 245, 0.8);

    border-radius: 20px;
    padding: 1.5rem;
    position: fixed;

    right: 2rem;
    top: 2rem;
    z-index: 99;

    >.navbarIcon
    {
        border-radius: 20px;
    }
}

